* {
   margin: 0;
}

:root {
   --main-font: "Cinzel";
   --secondary-font: "Markazi Text";
   --regular-font-color: #A38D6D;
}

.main-font-color {
   background: url(https://web.poecdn.com/protected/image/poe2/common/text-bg.jpg?v=1723154877752&key=j6nfbYIL5CpXofDIvyp7jA);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.painel {
   background: linear-gradient(#0f0f0f, #000);
   font-family: var(--secondary-font);
   color: var(--regular-font-color);
   font-size: 30px;
   
}

header {
   display: flex;
   align-items: center;
   justify-content: space-between;

}

.titulos-italicos {
   font-style: italic;
}

.titulos {
   display: flex;
   flex-direction: column;
   gap: 15px;
   padding: 20px;
   font-family: var(--main-font);
}

.titulos h1 {
   font-size: 40px;
   text-align: center;
}

.jogos-concorrentes {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.section {
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.section p{
   display: flex;
   justify-self: center;
}

.banner {
   cursor: pointer;
   width: 190px;
   font-weight: 500;
   font-size: 25px;
   word-wrap: break-word;
   margin: 30px 0px 0px 30px;
}

.banner img{
   height: 300px;
}

.banner:hover {
   transform: scale(1.1);
   transition: 0.4s;
}

.grafico {
   height: 500px;
   display: flex;
   justify-content: center;
   margin-bottom: 30px;
}

.janela {
   display: flex
;
}