* {
  margin: 0;
}

.center-content{
  height: 100vh;
}

.dashboard-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #0f0f0f;
}

.center-content {
  width: 75%;
  margin-left: 45vh;
}